<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ccef7d824c347cc40b8c571817e3a301 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ccef7d824c347cc40b8c571817e3a301" ></div>
        
</body>
<script>
    
    
            var map_ccef7d824c347cc40b8c571817e3a301 = L.map(
                "map_ccef7d824c347cc40b8c571817e3a301",
                {
                    center: [13.67961988888889, 100.68223644444444],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2a515ae60187bebd2b5b072b277101f0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ccef7d824c347cc40b8c571817e3a301);
        
    
            var feature_group_e06d70c2f3bb2a4c576643e28b9a8658 = L.featureGroup(
                {}
            ).addTo(map_ccef7d824c347cc40b8c571817e3a301);
        
    
            var marker_56c610d21892a12fbafa8f4a374f5137 = L.marker(
                [13.62597, 100.656713],
                {"title": "05:45:04"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
    
            var marker_a7a89d7f64b469fd385825fe3de70111 = L.marker(
                [13.622002, 100.652957],
                {"title": "05:58:11"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
    
            var marker_b5da4d82373f1f425f49a8085aff29dc = L.marker(
                [13.631667, 100.628469],
                {"title": "06:11:04"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
    
            var marker_da94ff8e91dc839ddab66bb7486b4daf = L.marker(
                [13.660018, 100.642869],
                {"title": "06:24:00"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
    
            var marker_f86fcfbc1146e03bba44db7f8f2b6b74 = L.marker(
                [13.693648, 100.647215],
                {"title": "06:36:57"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
    
            var marker_3b9382cb4ae6d53e948cd10618279c34 = L.marker(
                [13.713088, 100.646748],
                {"title": "06:49:54"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
    
            var marker_f8e883ac1250e627fc98ab35444d5229 = L.marker(
                [13.722131, 100.717943],
                {"title": "07:02:53"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
    
            var marker_42814911b22b2e2422879e3e74e9e29e = L.marker(
                [13.722693, 100.772595],
                {"title": "07:15:51"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
    
            var marker_256998cef1844f2920da0328df059e84 = L.marker(
                [13.725362, 100.774619],
                {"title": "07:28:50"}
            ).addTo(feature_group_e06d70c2f3bb2a4c576643e28b9a8658);
        
</script>
</html>